body{
    color: white;
    background-color: black;
    height: 100vh;
    margin: 0px;
    background-image: url('/bg/black-podium.svg');
    background-position: center, center;
    background-size: 50%;
    background-repeat: no-repeat;
    overflow: hidden;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
}

#icon1{
    width: 70px;
    margin: 0px;
    height: 70px;
    transform: translateX(-40px);
}

nav{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

a{
    text-decoration: none;
    color: white;
}

section{
    display: flex;
    height: 85%;
}

#yus{
    width: 50%;
    margin: 0%;
    display: flex;
    transform: translateY(-10%);
}

#carousel{
    width: 50%;
    display: flex;
    align-items: center;
    position: relative;
    top: -70px;
    gap: 150px;
    animation: slider 15s ease-in-out infinite;
}

text{
    text-align: center;
    align-self: flex-end;
}

.img{
    display: flex;
    height: 70%;
}

#flicker{
    height: 30px;
    overflow: hidden;
}

.hf{
    transform: translateY(-70%); /*250*/
    animation: flick 6s ease-in-out infinite;
}

@keyframes slider {
    0%{
        transform: translateX(-20%);
    }
    10%{
        transform: translateX(-20%);
    }
    16.67%{
        transform: translateX(-100%);
    }
    26.67%{
        transform: translateX(-100%);
    }
    33.34%{
        transform: translateX(-170%);
    }
    43.34%{
        transform: translateX(-170%);
    }
    50.01%{
        transform: translateX(-240%);
    }
    60.01%{
        transform: translateX(-240%);
    }
    66.67%{
        transform: translateX(-320%);
    }
    76.68%{
        transform: translateX(-320%);
    }
    86.68%{
        transform: translateX(-390%);
    }
    93.35%{
        transform: translateX(-390%);
    }


}

@keyframes flick {
    0%{
        transform: translateY(-70%);
    }
    25%{
        transform: translateY(-70%);
    }
    50%{
        transform: translateY(-250%);
    }
    75%{
        transform: translateY(-250%);
    }
}